.chptitle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 1vw;
  padding-right: 1vw;
  height: calc(30px + 5vw);
}

.chptitleleft {
  display: flex;
  align-items: center;
  height: calc(10px + 2vw);
  color: #33b1af;
  font-size: calc(10px + 1vw);
  font-weight: bold;
}

.chptitleright {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: calc(5px + 1vw);
  color: #33b1af;
  font-size: calc(5px + 1vw);
  width: 30%;
}

.chptitleright div {
  display: flex;
  align-items: center;
  height: calc(25px + 1vw);
  padding-left: 1vw;
  padding-right: 1vw;
}

.chptitleright div:hover {
  cursor: pointer;
}

.chpnavbar {
  height: calc(20px + 2vw);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2vw;
  padding-left: 2vw;
  padding-right: 2vw;
  width: 40%;
}

.chpnavbar button {
  height: calc(10px + 2vw);
  outline: none;
  border: none;
  font-size: calc(10px + 0.5vw);
  padding-left: 1vw;
  padding-right: 1vw;
  transition-duration: 0.4s;
}

.userPNG {
  height: calc(22px + 1vw);
  width: calc(22px + 1vw);
  display: flex;
}

.chpsearchcity {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: calc(5px + 1vw);
  padding: 1vw;
}

.chpsearchbar {
  border: 2px solid rgb(22, 29, 111);
  outline: none;
  height: calc(20px + 1vw);
  font-size: calc(10px + 0.5vw);
  color: rgb(22, 29, 111);
  padding-left: 1vw;
  padding-right: 1vw;
}

.charityprofile label {
  margin: 9px 7px 0 7px;
  padding: 4px 7px 0 7px;
  display: flex;
  margin-left: 21px;
  font-weight: bold;
  font-size: calc(15px+1.5vw);
  color: #032d70;
}

@media screen and (min-width: 401px) {
  .charityprofile {
    font-size: 1.35vw;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
  }
}

.charityprofile button {
  margin: 21px;
  padding: 8px 17px;
  border: 2px solid;
  background-color: #2b9997;
  color: aliceblue;
  font-weight: bold;
  border-radius: 0.3em;
  font-size: 1.2vw;
  resize: both;
}

.repeatimages {
  display: grid;
  grid-template-columns: repeat(1, minmax(250px, 1fr));
  gap: 1vw;
}

.repeatimages > img {
  width: 290px;
  padding: 5px;
  border: 2px solid;
}

.displayProfile {
  flex-direction: column;
}

@media screen and (max-width: 700px) {
  .displayProfile {
    flex-direction: column;
  }

  .repeatimages {
    grid-template-columns: repeat(1, minmax(250px, 1fr));
  }
}

@media screen and (min-width: 250px) {
  .displayProfile {
    margin: 0 auto;
    display: flex;
    background-color: rgba(78, 75, 75, 0.103);
    width: fit-content;
    padding: 1em;
    border-radius: 7px;
  }

  .field {
    display: grid;
    grid-template-columns: 100px 198px;
    margin: 1em 0;
    font-weight: 900;
    color: #2b9997;
  }

  .field > input {
    border: 2px solid #032d70;
    border-radius: 3px;
    padding: 2px 4px;
  }

  .chpdetails {
    align-items: center;
    flex-direction: column;
    width: fit-content;
  }
  .details {
    align-items: flex-start;
    width: auto;
  }

  .chpcertificates {
    display: flex;
    margin: 0;
  }
}

@media screen and (min-width: 660px) {
  .chpdetails {
    display: flex;
    flex-direction: row;
    gap: 3vw;
  }
  .details {
    width: 45%;
  }
}

.charitycertificates {
  width: 60%;
}

.charityProfileHead {
  color: #2b9997;
  font-size: calc(12px + 1vw);
  text-align: center;
  margin-bottom: 1em;
  border-bottom: 2px solid rgb(253, 132, 187);
}

.chprequestbutton {
  padding: 5px 9px;
  font-size: calc(10px + 0.5vw);
  background-color: #31bfeb;
  border: none;
  color: rgb(229, 241, 241);
  font-weight: bold;
  transition-duration: 0.2s;
  border-radius: 5px;
}
/* navbar trivi */
.chpmaindiv {
  width: 100%;
}

.chpaccitemheader {
  text-align: center;
  align-items: center;
  justify-content: center;
  padding: 2vw 0;
  background-color: rgb(185, 184, 184);
  margin: 1.5em 0;
  color: #410c97;
  font-weight: bolder;
  align-items: center;
  font-size: calc(14px + 0.5vw);
}

.chpdonateditemscontainer {
  display: grid;
  gap: 2%;
  padding: 1%;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
}

.chpitem {
  /* grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); */
  /* width: 300px; */
  transition-duration: 0.3s;
  border-radius: 10px;
  background-color: #410c97;
  padding: 1em;
}

.chpproductimagesdiv {
  height: calc(200px + 5vw);
  width: auto;
  display: flex;
  align-items: center;
  background-color: rgb(235, 229, 229);
  overflow-x: scroll;
  gap: 2vw;
  padding: 1vw;
}

.chpproductimagesdiv img {
  height: 100%;
}

.chpitemfooter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: auto;
  margin-top: 0.7em;
  padding: 1vw;
  border-radius: 5px;
  background-color: #dce0d6;
}

.chpaccdonorheader {
  font-weight: bolder;
  font-size: calc(12px + 1vw);
  color: #33b1af;
  text-decoration: underline;
  text-decoration-color: rgb(253, 132, 187);
}

.chpaccitemright {
  margin: 1em auto;
  background-color: #dce0d6;
  padding: 1em;
  border-radius: 5px;
}

.editdiv {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 1em;
}

.editbutton {
  background-color: #410c97;
  color: aliceblue;
  font-weight: bolder;
  font-size: calc(9px + 1vw);
  padding: 2px 6px;
  border: none;
  border-radius: 4px;
}

.chpnoitems {
  text-align: center;
  margin-top: 1em;
  font-size: calc(14px + 1vw);
}

@media screen and (min-width: 290px) and (max-width: 550x) {
  .chpdonateditemscontainer {
    display: grid;
  }
}
