.body {
  background-color: #fff;
  background-image: url("./img/Login-Greetings.jpeg");
  background-position: right;
  background-repeat: no-repeat;
  background-size: contain;
}

.heading {
  margin: 0.4em 2em;
}

.heading h1 {
  color: #3aa5a3;
}

.SignUp label {
  margin: 0.4em 2.2em;
  display: flex;
  font-weight: bolder;
  color: #032d70;
  font-size: calc(9px + 0.9vh);
}

.SignUp input {
  margin: 0.4em 2em;
  display: flex;
  color: #032d70;
  font-size: calc(9px + 0.9vh);
  border: 2px solid #032d70;
  border-radius: 4px;
  width: 30%;
  background-color: rgba(255, 255, 255, 0.4);
}

.SignUp button {
  margin: 2em;
  padding: 0.8em 2em;
  border: 2px solid;
  background-color: #2b9997;
  color: aliceblue;
  font-weight: bold;
  border-radius: 0.3em;
  font-size: 1rem;
}
