.titlebar {
  display: flex;
  margin: 1em 2em;
}

.lefttitle {
  margin: 0.3em;
  color: #33b1af;
  font-size: calc(12px + 1vw);
}

.righttitle {
  margin-left: auto;
  margin-right: 2vw;
  display: flex;
  gap: 2em;
  align-items: center;
}

.righttitle > img {
  width: calc(1em + 20px);
  height: calc(1em + 20px);
  object-fit: contain;
  margin-left: auto;
  margin-right: auto;
}

.righttitle button {
  margin: auto;
  padding: 0.2em 1em;
  border: 2px solid;
  background-color: #33b1af;
  color: aliceblue;
  font-weight: bold;
  border-radius: 0.3em;
  font-size: 1rem;
}
.righttitle button:hover {
  cursor: pointer;
}

.righttitle img:hover {
  cursor: pointer;
}

.centerbody {
  color: #33b1af;
  font-weight: 900;
  font-size: calc(15px + 2vh);
  text-align: center;
  display: block;
}

.profileGrid {
  display: grid;
  justify-items: center;
}

.dhpprofile {
  margin: 70px auto;
  padding: 20px;
  background: rgb(223, 223, 223);
  border-radius: 5px;
  width: 40vw;
}

.dhpimages {
  height: calc(200px + 7vw);
  max-width: 90%;
  padding: 1vw;
  background-color: rgb(22, 29, 111, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
}
.dhpimagecontainer {
  display: flex;
  align-items: center;
  height: calc(200px + 5vw);
  max-width: 100%;
  gap: 2vw;
  overflow-x: scroll;
}
.dhpnewitemstatus {
  width: 100%;
  height: calc(10px + 1vw);
  display: flex;
  align-items: center;
}
.dhpuploadedimage {
  height: 100%;
}

.dhpprofile h3 {
  text-align: center;
  margin-bottom: 10px;
}

.dhplabel {
  color: #33b1af;
  font-weight: bold;
}
.dhpvalue {
  color: rgb(22, 29, 111);
  font-weight: 600;
}

.close {
  float: right;
  font-size: 1.5em;
}
.close:hover {
  cursor: pointer;
  color: red;
}

.dhpdonationbox {
  background-image: url("./img/Product.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
  background-color: rgba(176, 153, 223, 0.99);
  display: flex;
  border: 5px solid rgb(22, 29, 111);
  border-radius: 1em;
  margin: auto;
  padding: 2em;
  width: 80%;
  height: 50%;
}

.dhpdonationbox form {
  margin: 4em 2em;
  padding: 1em;
  display: flex;
  box-sizing: border-box;
}

.dhpdonationboxlabel {
  font-weight: bold;
  font-size: calc(10px + 1vh);
  margin-top: 1em;
  padding: 5px;
  display: flex;
  /* resize: both; */
}
.dhpdonationboxvalue {
  margin-top: 0;
  margin-left: 0.5em;
  padding: 0.3em;
  border: 0.2em solid rgb(22, 29, 111);
  border-radius: 0.22em;
  background: rgba(255, 255, 255, 0.6);
  width: 100%;
  resize: both;
}

.dhpbuttonsdiv {
  margin-top: 2vh;
}

.dhpbuttons {
  padding: 5px 12px;
  border: 0;
  margin: 5px;
  background-color: #33b1af;
  color: aliceblue;
  font-weight: bold;
  border-radius: 0.3em;
  font-size: 1em;
  resize: both;
}

.donateditems > img {
  height: 70%;
  width: 90%;
  max-width: 300px;
  margin: 0;
}

.donateditems {
  background: rgba(223, 228, 233, 0.8);
  border-radius: 1rem;
  padding: 1em;
}

.donationsitemlist {
  margin: 1vh auto;
  display: grid;
  grid-gap: 2vw;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
}

.donatedItemshead {
  text-align: center;
  margin-top: 3rem auto;
  font-weight: bold;
  color: rgb(22, 29, 111);
  background-color: rgba(223, 228, 233, 0.8);
  border: 2px;
}

@media screen and (max-width: 300px) {
  .donationsitemlist {
    width: 70%;
    margin: 0;
    max-width: 200px;
  }

  .donationsitemlist img {
    width: 70%;
    margin: 0;
  }
  .titlebar {
    margin: 1em;
    width: 100%;
    gap: 1em;
  }
  .righttitle {
    width: min-content;
    margin: 0;
    gap: 1em;
  }
}

@media screen and (min-width: 200px) {
  .dhpprofile {
    width: 85%;
    word-wrap: break-word;
    align-items: center;
    justify-content: center;
    /* text-align: center; */
  }

  .dhpvalue {
    width: auto;
  }
}
