.titlebar {
  display: flex;
  margin: 8px 25px;
}

.lefttitle {
  margin: 25px;
  color: #33b1af;
  font-size: 24px;
}

.righttitle {
  margin-left: auto;
  margin-right: 0;
  display: flex;
  align-items: center;
}

.righttitle img {
  image-rendering: auto;
  width: 100%;
  height: 59px;
  margin-left: 42px;
  margin-right: 22px;
}

.righttitle button {
  margin: 26px;
  padding: 11px 20px;
  border: 2px solid;
  background-color: #33b1af;
  color: aliceblue;
  font-weight: bold;
  border-radius: 0.3em;
  font-size: 1rem;
}
.righttitle button:hover {
  cursor: pointer;
}

.righttitle img:hover {
  cursor: pointer;
}

.centerbody {
  color: #33b1af;
  font-weight: 900;
  font-size: calc(17px + 2vw);
  text-align: center;
  display: block;
}

.dhpprofile {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: fit-content;
  position: relative;
}

.dhpprofile h3 {
  text-align: center;
  margin-bottom: 10px;
}

.dhplabel {
  color: #33b1af;
  font-weight: bold;
  margin: 0;
  font-size: calc(13px + 0.3vw);
  display: inline-flex;
  width: 21%;
}
.dhpvalue {
  color: rgb(22, 29, 111);
  font-weight: 600;
  margin: 0;
  width: 45%;
  display: inline-flex;
}

.close {
  float: right;
  font-size: 1.5em;
}
.close:hover {
  cursor: pointer;
  color: red;
}

.dhpdonationbox {
  display: inline-flexbox;
  border: 5px solid rgb(22, 29, 111);
  border-radius: 1em;
  margin: 40px 84px;
  padding: 18px;
  background-image: url("./img/Product.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
  background-color: rgba(176, 153, 223, 0.99);
  width: auto;
}

.dhpdonationbox form {
  margin: 40px 20px;
  padding: 10px;
  display: flexbox;
  box-sizing: border-box;
}

.dhpdonationboxlabel {
  font-weight: bold;
  font-size: calc(5px + 1vw);
  margin-top: 12px;
  padding: 5px;
  display: flex;
  resize: both;
}
.dhpdonationboxvalue {
  margin-top: 0;
  margin-left: 5px;
  padding: 3px;
  border: 0.2em solid rgb(22, 29, 111);
  border-radius: 0.22em;
  background: rgba(255, 255, 255, 0.6);
  width: 29%;
  height: auto;
  resize: both;
}

.dhpbuttonsdiv {
  margin-top: 2vh;
}

.dhpbuttons {
  padding: 5px 12px;
  border: 0;
  margin: 5px;
  background-color: #33b1af;
  color: aliceblue;
  font-weight: bold;
  border-radius: 0.3em;
  font-size: 1em;
  resize: both;
}

.donateditems {
  background: #fff;
  border-radius: 1rem;
  padding: 1rem;
}

.donationsitemlist {
  width: 80vw;
  max-width: 1170px;
  margin: 4rem;
  margin-top: 2rem;
  display: grid;
  gap: 2rem;
}

@media screen and (min-width: 768px) {
  .donationsitemlist {
    grid-template-columns: repeat(3, 1fr);
    align-items: flex-start;
  }
}

.donatedItemshead {
  text-align: center;
  margin-top: 3rem;
  font-weight: bold;
  color: rgb(22, 29, 111);
  background-color: #fff;
  border: 2px;
}
