@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
* {
  margin: 0;
  font-family: "Poppins", "Calibri", sans-serif;
  scroll-behavior: smooth;
}
.navbar {
  width: 100%;
  height: calc(35px + 1vw);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: sticky;
  top: 0;
  background-color: rgba(223, 228, 233, 0.8);
  color: #4895ef;
  height: 12vh;
}

.btn {
  margin: 8px;
  font-weight: bold;
  font-size: 4vh;
  border: none;
  background-color: transparent;
  color: #4895ef;
  text-decoration: none;
  display: flex;
  text-align: center;
  cursor: pointer;
}

.title {
  width: 100%;
  height: calc(220px + 20vw);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: #dfe4e9;
  background-color: #4895ef;
}
.titlegrid {
  box-sizing: border-box;
  width: 70%;
  height: calc(200px + 5vw);
  display: grid;
  align-items: center;
  border-radius: 2vw;
  animation: slide-left 0.5s ease-in-out;
}
.titlegrid div {
  padding: 2vw;
}
.titlegrid div h1 {
  font-size: calc(20px + 2vw);
  animation: jumpup 0.7s ease-in-out;
}
.titlegrid div p {
  font-size: calc(10px + 1vw);
  animation: jumpdown 0.7s ease-in-out;
}
.intro {
  width: 100%;
  height: calc(300px + 18vw);
  display: flex;
  align-items: top;
  background-color: #fff;
  padding-top: 20px;
}
.intro img {
  height: calc(300px + 10vw);
  max-width: 61%;
  margin-top: 15px;
}
.intro div {
  width: 40%;
  box-sizing: border-box;
  padding: 2vw;
  height: 30vw;
}
.intro div h3 {
  color: #33cf66;
  font-size: calc(20px + 2vw);
}
.intro div p {
  font-size: calc(8px + 1vw);
  font-weight: bold;
}
.authentication {
  height: calc(200px + 20vw);
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #4895ef;
}
.donate {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  font-size: calc(50px + 3vw);
  color: aliceblue;
}
.donate img {
  height: calc(50px + 5vw);
  width: calc(50px + 5vw);
}
.subauthentication {
  display: block;
  box-sizing: border-box;
  padding: 2vw;
  width: 50%;
}
.register {
  display: block;
  box-sizing: border-box;
  padding: 2vw;
  width: 50%;
}

.donordiv,
.charitydiv {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  background: none;
  transition-duration: 0.4s;
}
/* .charitydiv:hover,
.donordiv:hover {
  background-color: rgba(152, 222, 217, 0.4);
} */
.charitydiv h3 {
  width: 40%;
  font-size: calc(12px + 1vw);
  color: aliceblue;
}
.donordiv h3 {
  width: 40%;
  font-size: calc(12px + 1vw);
  color: aliceblue;
}
.charitydiv button,
.donordiv button {
  box-sizing: border-box;
  margin: 13px;
  padding: 10px;

  background-color: aliceblue;
  border: none;
  border-radius: 0.4em;
  font-size: calc(10px + 1vw);
}
.charitydiv button:hover,
.donordiv button:hover {
  cursor: pointer;
}
/* .about {
  height: calc(30px + 15vw);
  align-items: center;
  font-size: calc(100% + 10px);
  width: fit-content;
  display: grid;
  column-count: 2;
  float: right;
}

.about h1 {
  color: #33cf66;
}

.grid {
  height: calc(300px + 10vw);
  display: flex;
  align-items: top;
  padding-top: 60px;
  padding-bottom: 60px;
} */

/* 
.register h1 {
  font-size: calc(100% + 120px);
  font-weight: 18000;
}

.register div {
  text-align: right;
  padding: 20px;
  word-spacing: 2px;
  font-size: 31px;
}

.registration h2 {
  display: inline-flex;
}

.registration button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0.8rem 2rem;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 18px;
  text-align: center;
  text-decoration: none;
  color: #fff;
  backface-visibility: hidden;
  border: 0.3rem solid transparent;
  border-radius: 1rem;
  border-color: transparent;
  background-color: #fff;
  color: #000;
  transition: transform 0.2s cubic-bezier(0.235, 0, 0.05, 0.95);
  margin: 10px;
}

.registration button:hover {
  transform: perspective(1px) scale3d(1.044, 1.044, 1) translateZ(0) !important;
  cursor: pointer;
}

.registration {
  padding: 13px;
  display: inline-block;
  line-height: 0.2vm;
} */
